body{
	background-color: #040E0D;
	background-image: url("../images/fundo.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}

.banner{
	margin: 70px auto;
	background-color: rgba(0,0,0,0.6);
	padding: 40px;
	text-align: center;
	border-radius: 15px;
	max-height: 800px;
}

main {
    height: 150vh;
}

h1{
	text-align:center;
	font-size:40px;
}

#titulo1{
	color:gold;
	text-shadow: 1px 2px 1px goldenrod;
}

#titulo2{
	color:limegreen;
	text-shadow: 1px 2px 1px forestgreen;
}

#titulo3{
	color: #48D1CC;
	text-shadow: 1px 2px 1px #00CED1;
}

p{
	font-size:22px;
	text-align:justify;
	font-weight: 600px;
	color: #fafafa;
	margin: 5% 10%;
}

.carousel{
	margin: 5% auto;
}