
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Arial;
    box-sizing: border-box;
}

/* ------- MENU -------------------------------------------------- */

nav {
    background-color: rgba(250, 250, 250, 0.8);
    box-shadow: inset 0px -41px 16px -43px #8a8a8a;
}

#navbarSupportedContent {
    flex-grow: 0;
}

.navbar-nav li {
    border-radius: 15px;
}

.nav-link {
    font-size: 1.3em;
    font-weight: 600;
    white-space: nowrap; 
}

.selected {
    background-color: #69cacf;
}

.logo {
    height: 60px;
    width: 62px;
    
}

.logo-area {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.logo-name {
    font-family: 'Amatic SC', cursive;
    font-size: 2.8em;
    color: #4FBEC3;
    font-weight: 800;
    white-space: nowrap; 
}

/* ------- MAIN -------------------------------------------------- */

main {
    min-height: 95vh;
    overflow: hidden;
    background-image: linear-gradient(white, #69cacf62, #69cacfb9);
}


.titulo h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 5em;
    font-weight: 800;
    color: #4FBEC3;
}

.titulo p {
    color: #407f8f;
}


.box {
    margin: 100px 0;
}

.box span {
    font-size: 1.3em;
    color: #27545f;
    font-weight: 600;
}

.box picture {
    width: 500px;
}

.box img {
    border-radius: 25px;
}

.box p {
    background-color: white;
    border-radius: 25px;
    max-width: 90vh;
}


.banner{
	margin: 0 auto;
	padding: 40px;
	text-align: center;
    border-radius: 25px;
    min-height: 400px;
    max-width: 90vh;
}

.titulo-verde{
	color:limegreen;
	text-shadow: 1px 2px 1px forestgreen;
}

.titulo-azul{
	color: #48D1CC;
	text-shadow: 1px 2px 1px #00CED1;
}



/* ----- FOOTER -------------------------------------------------- */

footer {
    background-color: rgba(250, 250, 250, 0.8);
    box-shadow: inset 0px 43px 16px -43px #8a8a8a;

}

#marca-area {
    height: 180px;
    border-right: 1px solid #407f8f;
}

#marca-area img {
    height: 100px;
    width: 102px;
}

#nomes-area {
    color: #4e8a99;
    font-size: 0.8em;
    font-weight: 600;
}

#nomes-area ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#nomes-area h3 {
    color: #27545f;
}



